body {
    font-family: Arial, sans-serif;
    background-color: #b1eefa80;
    background-image: url('img/foto.agua.jpg'); /* Ruta a la imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center center; /* Centra la imagen en el fondo */
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    display: flex;
    
}
*{
    margin: 0;
    padding: 0;
    margin-top: 0 auto;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    background: rgb(0,134,170);
    background: linear-gradient(90deg, rgba(5, 5, 5, 0.331) 0%, rgba(234, 241, 245, 0.712) 12%);
    padding: 20px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    border-radius: 50px;
}

h1 {
    text-align: center;
    color: #000000;
    font-style:normal;
    font-weight: bold;
    text-align: center;

    
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    font-weight: bold;
    text-align: center;
}

input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 80px;
}

button {
    padding: 10px;
    font-size: 1em;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    font-size: larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
}

button:hover {
    background-color: #0000009d;
}

#results {
    margin-top: 20px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#results p {
    font-size: 1.2em;
    margin: 5px 0;
    color: #000000;
}

/* Estilos para el footer */
.footer {
    background-color: #f1f1f10e; /* Color de fondo del footer */
    color: #000000; /* Color del texto */
    text-align: center; /* Centrar el texto */
    padding: 10px 0; /* Espaciado interno */
    position: fixed; /* Fijo en la parte inferior */
    bottom: 0; /* Alineado en la parte inferior */
    width: 100%; /* Ancho completo */
    font-size: 14px; /* Tamaño del texto */
    border-top: 1px solid #888888; /* Línea superior opcional */
    font-weight: lighter;
}

.footer p {
    margin: 0; /* Eliminar márgenes */
}

/* Estilos para el footer */
.footer {
    background-color: #f1f1f11e; /* Color de fondo del footer */
    color: #333; /* Color del texto */
    text-align: center; /* Centrar el texto */
    padding: 10px 0; /* Espaciado interno */
    position: fixed; /* Fijo en la parte inferior */
    bottom: 0; /* Alineado en la parte inferior */
    width: 100%; /* Ancho completo */
    font-size: 14px; /* Tamaño del texto */
    border-top: 1px solid #cccccc23; /* Línea superior opcional */
}

.footer p {
    margin: 0; /* Eliminar márgenes */
}

h2{
    text-align: left;
    color: #000000;
    font-style: italic;
    font-weight: bold;
}

  
  .bodymovinanim {
    width: 90%;
    max-width: 50px;
    margin-bottom: 30px;
    cursor: pointer;
  }
  
  .p2 {
    font-size: 12px;
    text-transform: uppercase;
    opacity: 0.6;
    letter-spacing: 2px;
    text-align: center;
  }
  
  .showmore {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 16px;
    color: #f3f3f3c9;
    text-decoration: none;
    background-color: #021a2c;
    padding: 16px 35px;
    border-radius: 80px;
    line-height: 26px;
    text-align: center;
    font-weight: bold;
    opacity: 0.8;
  }




/* Media query para dispositivos móviles */
@media (max-width: 760px) {
    body {
        font-family: Roboto;
        background: rgb(22,141,171);
        background-image: url('img/foto1.jpg');
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      
    /*.container {
        margin: 20px auto;
        padding: 15px;
        
    }*/
    .container {
        margin: 20px auto;
        padding: 15px;
        max-width: 600px;
        margin: 50px auto;
        background: rgb(0,134,170);
        background: linear-gradient(90deg, rgba(5, 5, 5, 0.331) 0%, rgba(255, 255, 255, 0.651) 12%);
        padding: 20px;
        box-shadow: 0 0 10px rgb(255, 255, 255);
        border-radius: 50px;
    }


    label {
        font-size: 20px;
    }

    input, button {
        font-size: 0.9em;
        padding: 8px;
    }

    h1 {
        font-size: 1.5em;
    }

    .footer {
        font-size: 12px;
        padding: 8px 0;
    }
    
}
